.white
{
    color: #111;
    background: #fff;
}

.white .reveal .slide-number
{
    color: #111;
}

.white .reveal .progress span
{
    color: #777;
}

.white .reveal a
{
    color: rgb(0, 134, 179);;
}

.white .reveal a:hover
{
    color: #d36363;
}

.white .reveal pre code
{
    background: #fff;
}

.white h2 strong,
.white p strong,
.white li strong
{
    color: #a71d5d;
}

.white .reveal .slides .grey,
.white .reveal .slides .grey *
{
    color: #999;
}

.white .reveal .slides .red,
.white .reveal .slides .red *
{
    color: #d36363;
}

.white .reveal .slides .green,
.white .reveal .slides .green *
{
    color: #63a35c !important;
}

.white .reveal .slides .magenta,
.white .reveal .slides .magenta *
{
    color: #9b58af;
}

.white .cli code
{
    border-left: 5px solid #dedede !important;
    background: #efefef !important
}

/* Modified Github highlightjs theme */
.white .hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.white .hljs-comment,
.white .hljs-meta {
  color: #999;
}

.white .hljs-string,
.white .hljs-variable,
.white .hljs-template-variable,
.white .hljs-strong,
.white .hljs-emphasis,
.white .hljs-quote {
  color: #df5000;
}

.white .hljs-keyword,
.white .hljs-selector-tag,
.white .hljs-type {
  color: #a71d5d;
}

.white .hljs-literal,
.white .hljs-symbol,
.white .hljs-bullet,
.white .hljs-attribute {
  color: #0086b3;
}

.white .hljs-section,
.white .hljs-name {
  color: #63a35c;
}

.white .hljs-tag {
  color: #333333;
}

.white .hljs-title,
.white .hljs-attr,
.white .hljs-selector-id,
.white .hljs-selector-class,
.white .hljs-selector-attr,
.white .hljs-selector-pseudo {
  color: #795da3;
}

.white .hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.white .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.white .hljs-link {
  text-decoration: underline;
}
