.hor-center
{
    text-align: center;
}

.reveal .no-dot
{
    list-style-type: none;
    margin-left: 0;
}

.reveal .left
{
    text-align: left;
}

.reveal code.black-text span
{
    color: #000;
}

.reveal table
{
    border-collapse: collapse;
    margin: auto;
}

.reveal .small
{
    font-size: 80%;
}

.reveal .very-small
{
    font-size: 72%;
}

.reveal .little li
{
    font-size: 77%;
}

.reveal table tr:not(:last-child) td
{
    border-bottom: 1px solid;
}

.reveal table td:not(:last-child)
{
    border-right: 0;
}

.reveal table td sup
{
    vertical-align: top;

    font-size: .5em;
}

.reveal .arrow-bottom
{
    margin-left: 20%;
}

.reveal blockquote
{
    display: block;
    position: relative;
    width: 55%;
    margin: auto;
    padding: 5px;
    font-style: italic;
}

.reveal div.row
{
    display: inline-block;
    vertical-align: top;
    width: 450px;
}

.reveal .wide code
{
    width: 110%;
}

.reveal span.bold
{
    font-weight: 900;
}

.logo
{
    height: 70px;
}

.reveal .logo-newdb
{
    height: 70px;
    margin-bottom: -19px;
}
