mark
{
    background-color: #acf2bd;
}

span
{
    display: inline-block;
}

ul
{
    list-style: none;
}

.author:first-letter
{
    color: red;
}

.reveal .left
{
    text-align: left;
}

.reveal .right
{
    text-align: right;
}

.reveal .subheading
{
    margin-top: -30px;
    font-size: 60px;
}
